{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{%static 'wms/css/fullcalendar/fullcalendar.css'%}" rel="stylesheet">
    <script src="{%static 'wms/js/fullcalendar/moment.min.js'%}"></script>
    <script src="{%static 'wms/js/fullcalendar/fullcalendar.js'%}"></script>
    <div class="col-md-9 panel panel-default" >
        <div  id="calendar">
            <script type="text/javascript">
                $(document).ready(function(){
                        $('#calendar').fullCalendar({

                        })

                });

            </script>
        </div>
        <div class="col-md-3">

        </div>


    </div>
{% endblock %}