{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% block content %}
    <link href="{%static 'wms/css/fullcalendar/fullcalendar.css'%}" rel="stylesheet">
    <script src="{%static 'wms/js/fullcalendar/moment.min.js'%}"></script>
    <script src="{%static 'wms/js/fullcalendar/fullcalendar.js'%}"></script>
    <div class="col-md-9 panel panel-default" >
        <div  id="calendar">
            <script type="text/javascript">
                var event_list =[
                                {%for event in events%}
                                    {   title : '{{event.title}}',
                                        start : '{{event.startDateTime|date:"c"}}',
                                        end : '{{event.endDateTime|date:"c"}}',
                                    {% if event.type == "client" %}
                                        backgroundColor : '#16a085',
                                    {% elif event.type == "fa" %}
                                        backgroundColor : '#8e44ad',
                                    {% elif event.type == "pot_client" %}
                                        backgroundColor : '#d35400',
                                    {% elif event.type == "holiday"%}
                                        backgroundColor : '#c0392b'
                                    {% endif %}
                                    },
                                {% endfor %}
                            ];

                function post(eventData){
                    $.ajax({
                                url: "/create_appointment/",
                                type: "POST",

                                data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        'title': "test",
                                        'start': "2015-02-12T12:06:59+00:00",
                                        'end': "2015-02-12T13:06:59+00:00"
                                },

                                success: function (json){
                                    console.log("Success");
                                    alert('Successfully called');

                                },

                                error: function (xhr, errmsg, err) {
                                    alert('fail called');
                                    console.log(xhr.status + ": " + xhr.responseText);

                                }

                            }
                    );
                }

                var eventData ={};

                $(document).ready(function(){
                        $('#calendar').fullCalendar({
                            header:{
                                left: 'prev,next today',
                                center: 'title',
                                right: 'agendaDay, agendaWeek, month'
                            },
                            defaultView: 'agendaWeek',
                            editable: true,
                            allDaySlot: false,
                            selectable: true,

                            select: function(start, end) {
{#                                var title = prompt('Event Title:');#}
{#                                var eventData;#}
{#                                if (title) {#}
{#                                    eventData = {#}
{#                                        'title': title,#}
{#                                        'start': start,#}
{#                                        'end': end#}
{#                                    };#}
{##}
{#                                    post(eventData);#}
{#                                }#}

                                    $('#calendarModal').modal();
                                    eventData = {
                                        'title': "",
                                        'start': start,
                                        'end': end
                                    };

                            $('#calendar').fullCalendar('unselect');
                            },
                            events: event_list

                        })


                });
            $(document).ready(function() {
                $('#modalForm').submit( function(event){
                       event.preventDefault();
                       eventData.title = $('#title').val();
                         $('#calendarModal').modal();
                        post(eventData);
                        $('#calendar').fullCalendar('renderEvent', eventData, true);

                })
            });

            </script>
        </div>
        </form>



        <div class="col-md-3"></div>



        <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <form method="post" id="modalForm">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" class="form-control" placeholder="Meeting with...">

                                </div>
                        </div>
                        <div class="modal-footer">
                             <input class="btn btn-default" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}