
{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% block content %}
    <div class="panel panel-default col-md-12 col-sm-12 ">
        <div class="panel-body col-md-12">
            <a class="btn btn-default" href="/new_client.html" role="button">Add Client</a>
            <a class = "btn btn-danger" href="#RemoveClient" role="button">Remove Client</a>
        </div>
    </div>
    <div class="well col-md-12 col-sm-12">
    {% if client_list %}
    <div id="users">
        <input class="search form-control " placeholder="Search clients">

        <ul class="list-unstyled list">
        {% for client in client_list %}
        <li>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a  href="/client_details/?client={{client.ni_number}}"><img src="{% static 'wms/images/person-placeholder.png'  %}" class="img-responsive img-thumbnail" style="max-width: 200px"></a>
                    <div class="caption">
                        <h3 class="name"><a href="/client_details/?client={{client.ni_number}}">{{client.first_name}} {{client.surname}}</a></h3>
                        <p>
                            <table>
                            <tr>
                                <td><strong>Email: </strong></td>
                                <td class="email">{{client.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Mobile Phone: </strong></td>
                                <td class="home_phone">{{client.mob_phone}}</td>
                            </tr>
                            <tr>
                                <td><strong>Home Phone: </strong></td>
                                <td class="mob_phone">{{client.home_phone}}</td>
                            </tr>

                            </table>
                        </p>
                    </div>
                    </div>
                </div>
            </li>
        {%endfor%}
        </ul>
    </div>
        <script type="text/javascript">
        var options = {
            valueNames:['name','email', 'home_phone', 'mob_phone']
        };
        var userList = new List('users',options);
    </script>
    {% else %}
    <p>No client data</p>
    {% endif %}

    </div>
    </div>
    </div>
    {%  endblock %}
