{% extends "wms/base.html" %}
{% block content %}
{% if client_details %}
<table>
    <tr>
        <th>First Name</th>
		<th>Surname</th>
		<th>Email</th>
		<th>Mobile Number</th>
		<th>Home Number</th>
		<th>Date Of Birth</th>
		<th>National Insurance Number</th>
        <th>Cash</th>
		<th>Financial Advisor</th>
	</tr>
    <tr>
        <td>{{ client_details.first_name}}</td>
        <td>{{ client_details.surname}}</td>
        <td>{{ client_details.email}}</td>
        <td>{{ client_details.mob_phone}}</td>
        <td>{{ client_details.home_phone}}</td>
        <td>{{ client_details.dob}}</td>
        <td>{{ client_details.ni_number}}</td>
        <td>{{ client_details.cash }}</td>
        <td>{{ client_details.fa}}</td>
    </tr>
</table>
    <table>
    <tr>
        <th>Stock</th>
		<th>Date bought</th>
		<th>Amount</th>
		<th>Price($)</th>
		<th>Total($)</th>
	</tr>
    {% for share in shares %}
    <tr>
        <td>{{ share.stock}}</td>
        <td>{{ share.buy_date}}</td>
        <td>{{ share.amount}}</td>
        <td>{{ share.price}}</td>

        <td><script>document.write({{ share.price }}*{{ share.amount }})</script></td>


    </tr>
    {% endfor %}
</table>
    {% if twitter == True %}
        <a class="twitter-timeline" href="https://twitter.com/{{ client_details.twitter_username }}" data-widget-id="{{ client_details.twitter_widget_id }}">Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endif %}
    {% else %}
<p>No client data</p>
{% endif %}
{%  endblock %}