{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% block content %}
{% if client_details %}
    <div class="table-responsive col-md-3 well">
        <img class="img-responsive img-thumbnail" src="{% static 'wms/images/person-placeholder.png'  %}" alt="Person Placeholder">
        <p class="lead">{{client_details.first_name}} {{client_details.middle_name}} {{client_details.surname}}</p>
        <ul class="list-unstyled">
            <li>
                <strong>Email:</strong> {{ client_details.email}}
            </li>
            <li>
                <strong>Phone:</strong>
                <ul class="">
                    <li>
                        <strong>Mobile:</strong> {{ client_details.mob_phone}}
                    </li>
                    <li>
                        <strong>Home:</strong> {{ client_details.home_phone}}
                    </li>
                </ul>
            </li>
            <li>
                <strong>NI:</strong> {{client_details.ni_number}}
            </li>
            <li>
                <strong>Dob:</strong> {{client_details.dob}}
            </li>
            <li>
                <strong>Financial Advisor:</strong> {{client_details.fa}}
            </li>
        </ul>
    </div>

    <div class="table-responsive col-md-9 well" id="users">
        <!--<div class="col-md-2 col-md-offset-10" id="users">-->
            <label class="sr-only">Stock Symbol</label>
            <input id="symbol_input" class="form-control search" type="text" name="symbol" placeholder="Stock Symbol"/>

        <!--</div>-->
        <table class="table table-hover table-bordered table-condensed" style="background-color: #ffffff">
            <thead>
                <th>Stock</th>
                <th>Date bought</th>
                <th>Amount</th>
                <th>Price($)</th>
                <th>Total($)</th>
            </thead>
            <tbody class="list">
                {% for share in shares %}
                <tr>
                    <td class="stock"><a href="/?symbol={{share.stock}}">{{ share.stock}}</a></td>
                    <td class="buy_date">{{ share.buy_date}}</td>
                    <td class="amount">{{ share.amount}}</td>
                    <td class="price">{{ share.price}}</td>

                    <td class="total"><script>document.write({{share.price}} * {{share.amount}})</script></td>


                </tr>
                {% endfor %}
            </tbody>
            <script type="text/javascript">
                var options ={
                    valueNames: ['stock', 'buy_date', 'amount', 'price', 'total']
                };
                var userList = new List('users',options);
            </script>
        </table>
     </div>
    {% if twitter == True %}
        <a class="twitter-timeline" href="https://twitter.com/{{client_details.twitter_username}}" data-widget-id="{{client_details.twitter_widget_id}}">Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endif %}
    {% else %}
<p>No client data</p>
{% endif %}
{%  endblock %}