{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block content %}
<script src="{% static "wms/js/fullcalendar/moment.min.js" %}" type="text/javascript" ></script>
<script src="{% static "wms/js/bootbox.js" %}" type="text/javascript" ></script>
<script src="{% static "wms/js/client_details.js" %}" type="text/javascript" ></script>
{% if client_details %}
    <script>
    var csrf = '{{ csrf_token }}';
    var ni = '{{client_details.ni_number}}';
    </script>
    <div class="container">
        <div class="col-md-3 col-sm-3">
            <img class="img-responsive img-thumbnail" src="{{ client_details.image.url }}" alt="Person Placeholder">
            <p class="lead">{{client_details.first_name}} {{client_details.middle_name}} {{client_details.surname}}</p>
            <ul class="list-unstyled">
                <li>
                    <span class="glyphicon glyphicon-pencil"></span> <strong><a href="{% url "edit_client" client_details.ni_number %}">Edit Client </a></strong>
                    <span class="glyphicon glyphicon-pencil"></span> <strong><a href="{% url "create_note" client_details.ni_number %}">Create Note </a></strong>
                </li>
                <li>
                    <span class="glyphicon glyphicon-envelope"> </span> <strong>Email:</strong> {{ client_details.email}}
                </li>
                <li>
                    <span class="glyphicon glyphicon-earphone"></span> <strong>Phone:</strong>
                    <ul class="">
                        <li>
                            <span class="glyphicon glyphicon-phone"></span> <strong>Mobile:</strong> {{ client_details.mob_phone}}
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-phone-alt"></span> <strong>Home:</strong> {{ client_details.home_phone}}
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="glyphicon glyphicon-user"></span> <strong data-toggle="tooltip" data-placement="right" title="National Insurance Number">NI:</strong> {{client_details.ni_number}}
                </li>
                <li>
                    <span class="glyphicon glyphicon-gift"></span> <strong data-toggle="tooltip" data-placement="right" title="Date of Birth">Dob:</strong> {{client_details.dob}}
                </li>
                <li>
                    <span class="glyphicon glyphicon-flag" ></span> <strong data-toggle="tooltip" data-placement="right" title="Financial Adviser">FA:</strong> {{client_details.fa}}
                </li>
                <li>

                <span class="glyphicon glyphicon-flag" ></span> <strong data-toggle="tooltip" data-placement="right" title="Notes">Notes:</strong> 
            </li>
	    {% if notes %}
	    {% for n in notes %}
	    <li>{{n.event.startDateTime.date}}</li>
	    <li>{{n.note}}</li>
		{% endfor %}
		{% else %}
		<strong> No Notes for this client </strong>
		{% endif %}
        </ul>
    </div>

        <div class = "col-md-9 col-sm-9">
            <div class="container-fluid panel panel-default" id="users" >
                <div class="row panel-heading">
                    <h3 class="col-md-3 col-xs-3">Cash available: $<span class="client_cash_available">{{ client_details.cash }}</span></h3>
                    <div class="btn-group col-md-6 col-xs-6" style="margin-bottom:1%;">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#StockModal">Buy Shares</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DepositModal">Deposit Cash</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#WithdrawModal">Withdraw Cash</button>
                     </div>
                    <h3 class="col-md-3 col-xs-3">Portfolio worth: $<span class="portfolio_worth"></span> </h3>
                </div>
                <div class=" hidden row">
                    <div>
                        <label class="sr-only">Stock Symbol</label>
                        <input id="symbol_input" class="form-control search" type="text" name="symbol" placeholder="Stock Symbol"style="margin-bottom:1%;"/>
                    </div>
                </div>
                <div class="panel-body row table-responsive" style="height: 70%; padding: 1px 1px 1px 1px;">
                    <table class="table table-bordered table-condensed table-hover col-md-12" style="background-color: #ffffff; margin-bottom: 0; ">
                        <thead>
                            <th>Stock Symbol</th>
                            <th>Shares Currently Owned</th>
{#                            <th>Stock Worth</th>#}
                            <th></th>
                        </thead>
                        <tbody id="clients_stock_tbody">
                                {% for key,stock in shares.items %}
                                <script>
                                    var target = ("{{ key }}").replace(".","");
                                    var stock_total=0;
                                </script>
                                <tr >
                                    <td class="sort accordion-toggle"  data-toggle="collapse" data-target="#{{ key }}div" class=""><a id='{{ key }}a' data-toggle="modal" data-target="#StockModal" data-symbol="{{ key }}" ><span class="glyphicon glyphicon-search"></span></a> {{ key }}</td>
                                    <td class="accordion-toggle" data-toggle="collapse" data-target="#{{ key }}td" >{{ owned_shares|get_item:key }}</td>
{#                                    <td class="accordion-toggle" data-toggle="collapse" data-target="#{{ key }}total" id="{{ key }}total" ></td>#}
                                    <script>
                                        $("td[data-target='#{{ key }}td']").attr("id", target+"td")
                                        $("td[data-target='#{{ key }}td']").attr("data-target", "#"+target+"div")
                                        $("td[data-target='#{{ key }}div']").attr("data-target", "#"+target+"div")
                                        $("#{{ key }}a").click(function(){
                                            $("#stock_symbol").attr("value", "{{ key }}");
                                            $("#search_stock_submit").submit();
                                        })
                                        $("#{{ key }}a").attr("id", target+"a")
                                    </script>
                                    <td ><button class="btn btn-default btn-xs" data-toggle="modal" data-target="#SellStockModal" data-symbol="{{ key }}">Sell</button> </td>
                                    <script>
                                        if('{{ owned_shares|get_item:key }}'==0){
                                            $("button[data-symbol='{{ key }}']").attr("disabled","disabled")
                                        }
                                    </script>
                                </tr>
                                    <tr class="hiddenRow">
                                    <td colspan="3" class="hiddenRow">
                                        <div class="accordian-body collapse" id="{{ key }}div">
                                        <script>
                                            $("div[id='{{ key }}div']").attr("id", target+"div")
                                        </script>
                                            <table class="table table-condensed table-bordered" style="margin-bottom: 0px">
                                                <thead>
                                                    <tr>
                                                        <th class="sort" data-sort="buy">Transaction <span ></span></th>
                                                        <th class="sort" data-sort="stock" id="stock_th">Stock <span></span></th>
                                                        <th class="sort" data-sort="date">Date<span class="glyphicon glyphicon-triangle-top"></span></th>
                                                        <th class="sort" data-sort="amount">Amount <span></span></th>
                                                        <th class="sort" data-sort="price">Price($) <span></span></th>
                                                        <th class="sort" data-sort="total">Total($) <span></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list">
                                                    {% for share in stock %}
                                                        <tr >
                                                            <td class="buy writeHere">
                                                                <script>
                                                                if('{{ share.buy }}'=="True"){
                                                                    $(".writeHere").html("<span class='glyphicon glyphicon-chevron-up'></span>Bought")
                                                                    var t = ({{share.price}} * {{share.amount}});
                                                                    stock_total +=t;
                                                                }else{
                                                                    $(".writeHere").html("<span class='glyphicon glyphicon-chevron-down'></span>Sold")
                                                                    var t = (-{{share.price}} * {{share.amount}});
                                                                    stock_total +=t;
                                                                }
                                                                $(".writeHere").removeClass("writeHere");
                                                                </script>
                                                            </td>
                                                            <td class="stock">{{ share.stock}}</td>
                                                            <td class="date">{{ share.date|date:"c"}}</td>
                                                            <td class="amount">{{ share.amount}}</td>
                                                            <td class="price">{{ share.price}}</td>
                                                            <td class="total writeHeretotal">
                                                                <script>
                                                                    portfolio_worth = (portfolio_worth + parseFloat(t));
                                                                    $(".writeHeretotal").html(t);
                                                                    $(".writeHeretotal").removeClass("writeHeretotal");
                                                                </script></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        <script>
                                            $(".portfolio_worth").html(portfolio_worth.toFixed(2));
                                            //Table sorting and searching setup
                                            var options ={
                                                    valueNames: ['buy', 'stock', 'date', 'amount', 'price', 'total']
                                                };
                                            var symbol = "{{ key }}".replace(".","");
                                            userList[symbol] = new List((symbol+"div"),options);
                                            //userList[symbol].sort("date", { order: "asc"});
                                            $("td[data-target='#{{ key }}total']").html("$"+stock_total.toFixed(2));
                                            $("td[data-target='#{{ key }}total']").attr("data-target", "#"+target+"div");

                                            $("th.sort").click(function(event){
                                                    $("th.sort").children("span").removeClass("glyphicon glyphicon-triangle-top glyphicon-triangle-bottom");
                                                    $("th.sort.asc").children("span").addClass("glyphicon glyphicon-triangle-top");
                                                    $("th.sort.desc").children("span").addClass("glyphicon glyphicon-triangle-bottom");
                                                });

                                        </script>
                                        </div>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                            </table>

                </div>
            <script>
                 $("button[data-target='#SellStockModal']").click(function(event){
                    var sell_symbol =$(this).attr("data-symbol");
                    $("#sell_stock_symbol").val(sell_symbol);
                    $("#sellSharesForm").submit();
            });
            </script>

            </div>
        </div>
    </div>
    </div>
    </div>
    <!--Buy stock modal-->
    <div class=" modal fade" tabindex="-1" id="StockModal" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="exampleModalLabel">Buy Shares</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div >Cash available: $<span class="client_cash_available">{{ client_details.cash }}</span></div>
                        <form id="buySharesForm" class="form-inline" action="/query_api/" method="get">
                            <div class="form-group">
                                <label class="sr-only">Stock Symbol</label>
                                <input id="stock_symbol" class="form-control" type="text" name="symbol" placeholder="Stock Symbol" />
                                <button id="search_stock_submit" class="btn btn-primary form-control glyphicon glyphicon-search" type="submit" value="Submit" data-loading-text=" Searching..." > Search</button>
                            </div>
                        </form>



                        <h3 id="symbol_title" class="text-center"></h3>
                        <div id="stock_not_found" class="alert alert-danger hidden">Unable to find stock! Please check you have entered a valid stock symbol.</div>
                        <div class="row">
                            <div id="buy_stock_graph_container" class="col-md-11">
                                   <canvas id="buy_stock_graph" class="hidden"></canvas>
                            </div>
                            <div class="col-md-1">
                                <div id="buy_lineLegend" class="hidden"></div>
                            </div>


                        </div>
                         <form id="buy_graph_timescale" class="form-inline text-center hidden" action="" method="post">
                            <div class="btn-group btn-group-xs" role="group">
                                <input id="symbol_input" class="hidden" name="symbol" value=""/>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Timescale
                                    <br><button type="submit" class="btn btn-default" name="days" value="3">3 days</button>
                                    <button type="submit" class="btn btn-default active" name="days" value="7">1 week</button>
                                    <button type="submit" class="btn btn-default" name="days" value="30">1 month</button>
                                    <button type="submit" class="btn btn-default" name="days" value="90">3 months</button>
                                    <button type="submit" class="btn btn-default" name="days" value="180">6 months</button>
                                    <button type="submit" class="btn btn-default" name="days" value="365">1 year</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div id="modal_footer" class="modal-footer">
                    <div id="stock_buy" class="hidden">
                        <form class="form-inline" id="buy_buttonForm">
                            <div class="form-group">
                                <p class="buysell_text"></p>
                                <label for="buy_quantity">Quantity: </label>
                                <input id="buy_quantity" class="form-control" placeholder="1" style="width: 100px">
                                <button id="buy_button" class="btn btn-default form-control" type="submit" value="Buy">Buy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(
    $("*[data-toggle='modal']").click(function(event){
        $("#buy_stock_graph").addClass("hidden");
        $("#buy_lineLegend").addClass("hidden");
        $("#buy_modal_footer").addClass("hidden");
        $("#buy_stock_buy").addClass("hidden");
        $("#symbol_title").addClass("hidden");
        $("#stock_buy").addClass("hidden");
        $("#buy_graph_timescale").addClass("hidden");
    }));
    </script>

    <!--Sell stock modal-->
    <div class=" modal fade" tabindex="-1" id="SellStockModal" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="SellModalLabel">Sell Shares</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div >Cash available: $<span class="client_cash_available">{{ client_details.cash }}</span></div>

                        <form id="sellSharesForm" class="form-inline" action="/query_api/" method="get">
                            <div class="form-group">
                                <label class="sr-only">Stock Symbol</label>
                                <input id="sell_stock_symbol" class="form-control hidden" type="text" name="symbol" placeholder="Stock Symbol" />
                                <button id="sell_search_stock_submit" class="btn btn-primary form-control glyphicon glyphicon-search hidden" type="submit" value="Submit" data-loading-text=" Searching..." > Search</button>
                            </div>
                        </form>


                        <h3 id="sell_symbol_title" class="text-center"></h3>
                        <div id="sell_stock_not_found" class="alert alert-danger hidden">Unable to find stock! Please check you have entered a valid stock symbol.</div>
                        <div class="row">
                            <div id="sell_stock_graph_container" class="col-md-11">
                                   <canvas id="sell_stock_graph" class="hidden"></canvas>
                            </div>
                            <div class="col-md-1">
                                <div id="sell_lineLegend" class="hidden"></div>
                            </div>
                        </div>
                        <form id="sell_graph_timescale" class="form-inline text-center hidden" action="" method="post">
                            <div class="btn-group btn-group-xs" role="group">
                                <input id="symbol_input" class="hidden" name="symbol" value=""/>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Timescale
                                    <br><button type="submit" class="btn btn-default" name="days" value="3">3 days</button>
                                    <button type="submit" class="btn btn-default active" name="days" value="7">1 week</button>
                                    <button type="submit" class="btn btn-default" name="days" value="30">1 month</button>
                                    <button type="submit" class="btn btn-default" name="days" value="90">3 months</button>
                                    <button type="submit" class="btn btn-default" name="days" value="180">6 months</button>
                                    <button type="submit" class="btn btn-default" name="days" value="365">1 year</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div id="sell_modal_footer" class="modal-footer">
                    <div id="stock_sell" class="hidden">
                        <form class="form-inline" id="sell_buttonForm">
                            <div class="form-group">
                                <p class="buysell_text"></p>
                                <label for="sell_quantity">Quantity: </label>
                                <input id="sell_quantity" class="form-control" placeholder="1" style="width: 100px">
                                <button id="sell_button" class="btn btn-default form-control" type="submit" value="Sell">Sell</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Deposit Cash-->
    <div class=" modal fade" tabindex="-1" id="DepositModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="exampleModalLabel">Deposit Cash</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="depositForm" class="form-inline" action="/deposit/" method="get">
                            <div class="form-group">
                                <div >Cash available: $<span class="client_cash_available">{{ client_details.cash }}</span></div>
                                <div class="input-group">

                                    <div class="input-group-addon">$</div>
                                    <input id="deposit_amount" class="form-control" type="text" placeholder="Amount"/>
                                </div>
                                <button class="btn btn-default form-control" type="submit" value="Submit" >Deposit</button>
                            </div>

                            <div class="form-group">

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Withdraw Cash modal-->
    <div class=" modal fade" tabindex="-1" id="WithdrawModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="exampleModalLabel">Withdraw Cash</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="withdrawForm" class="form-inline" action="/withdraw_cash/" method="get">
                            <div class="form-group">
                                <div >Cash available: $<span class="client_cash_available">{{ client_details.cash }}</span></div>
                                <label class="sr-only">Stock Symbol</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input id="withdraw_amount" class="form-control" type="text" placeholder="Amount"/>
                                </div>
                                <button class="btn btn-primary form-control" type="submit" value="Submit" >Submit</button>
                            </div>

                            <div class="form-group">

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% else %}
        <p>No client data</p>
    {% endif %}
{%  endblock %}
