{% extends "wms/base.html" %}
{% load staticfiles %}


{% block content %}

{% if stock_json %}
    <div>
        <form action="" method="get">
            <input id="symbol_input" type="text" name="symbol"/><br>
            <input type="submit" value="Submit"/>
        </form>
    </div>

    <div id="graph_div">
        <div >
            <p class="stockTitle"  >Buy at: {{ stock_json.0.Close }}</p>
            <p class="stockTitle stockSymbol" style="font-size: 200%">
                <script>document.write("{{ symbol }}".toUpperCase());</script>
            </p>
            <p id="stockGrowth" class="stockTitle">
                <img id="stockGrowthImage" src="" width="15px" height="15px"/>
                <script>

                    var growth = (({{ stock_json.0.Close }} - {{  stock_json.1.Close}}) / {{ stock_json.1.Close}}).toFixed(2);

                    if (growth > 0){
                        document.getElementById("stockGrowthImage").src="{% static "wms/images/up-arrow.png" %}";
                        document.getElementById("stockGrowth").style.color = "green";

                    }else if(growth < 0){
                       document.getElementById("stockGrowthImage").src="{% static "wms/images/down-arrow.png" %}";
                       document.getElementById("stockGrowth").style.color = "red";
                    }else{
                       document.getElementById("stockGrowthImage").src="{% static "wms/images/middle-arrow.png" %}";
                       document.getElementById("stockGrowth").style.color = "white";
                    }
                    document.write(growth+"%");

                </script>
            </p>
        </div>
        <div>
            <canvas id="stock_graph" width="900" height="400"></canvas>
            <div id="lineLegend"></div>
        </div>

    <br><br/>
    <table class = "display_table" style="border:1px solid black;" cellspacing="20">


    {% for key in stock_json.0 %}
        <th>{{ key }}</th>
    {% endfor %}

    {% for result in stock_json %}
	    <tr>
            {% for key,data in result.items %}
                <td width="30%">{{ data }}</td>
            {% endfor %}
	    </tr>
    {% endfor %}


</table>
    </div>




    <script>


    var dates = [];
    var open = [];
    var close = [];

    {% for result in stock_json reversed %}
        open[open.length] = {{ result.Open }};
        close[close.length] = {{ result.Close }};
        dates[dates.length] = "{{ result.Date }}";
    {% endfor %}






    var stock_graph = document.getElementById('stock_graph').getContext('2d');
    var stockData = {
	labels : dates,
	datasets : [
		{
            label : "Open",
			fillColor : "rgba(172,0,0,0)",
			strokeColor : "#2ecc71",
			pointColor : "#2ecc71",
			pointStrokeColor : "#34495e",
			data : open
		},
         {
            label : "Close",
			fillColor : "rgba(0,0,300,0)",
			strokeColor : "#c0392b",
			pointColor : "#c0392b",
			pointStrokeColor : "#34495e",
			data : close
		}
	]
}
    var opts = {scaleFontColor: "#ffffff",
        scaleLineColor: "#ffffff",
        scaleGridLineColor: "#ffffff",
        scaleShowLabels: true
    }

    new Chart(stock_graph).Line(stockData, opts);
    legend(document.getElementById("lineLegend"), stockData);

</script>


{% endif %}
{%  endblock %}
