{% extends "wms/base_boot.html" %}
{% block content %}
    <div class="col-md-2 col-md-offset-5 ">
        {% if form.errors %}
        <p>Your username or password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <!--Django from element prevents use from adding class
                Possible fix: https://bitbucket.org/kmike/django-widget-tweaks
                -->
            {{ form }}
            <input class="btn btn-success" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        </div>
{% endblock %}
