{% extends "wms/base_boot.html" %}
{% load staticfiles %}
{% block content %}

<link href="{%static 'wms/css/formstyle.css'%}" rel="stylesheet">
<script src="{%static 'wms/js/sliding.form.js'%}"></script>
{{ form.media }}
<!--<div class="table-responsive col-md-offset-2 col-md-6 well" style="overflow:hidden;">-->
    <div id = "wrapper">
        <div id="steps">
            <form enctype="multipart/form-data" id="formElem" name="formElem" class="form-horizontal" role="form" action='new_client.html' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-md-3 col-sm-3 col-xs-3">
                <fieldset class = "step">
                    <legend>Personal Information</legend>

                   <div class="form-group">
                    
                    <label class="control-label col-sm-6 col-xs-6" for="id_first_name"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> First Name<font color="Red">*</font>:</label>
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_middle_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Middle Name(s)</font>:</label>

                        {{ form.middle_name.errors }}
                        {{ form.middle_name }}
                    </div>
                    <div class="form-group">
                       
                        <label class="control-label col-sm-6 col-xs-6" for="id_surname"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Last Name<font color="Red">*</font>:</label>
                        {{ form.surname.errors }}
                        {{ form.surname }}
                    </div>
                    
                          
                        
                </fieldset>
                </div>
                <div class ="col-md-3 col-sm-3 col-xs-3">
                <fieldset class = "step">
                    <legend>Contact Information</legend>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email<font color="Red">*</font>:</label>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_image"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Client Image:</label>
                        {{ form.image.errors }}
                        {{ form.image }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_mob_phone"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Mobile Phone Number:</label>
                        {{ form.mob_phone.errors }}
                        {{ form.mob_phone }}
                    </div>
                    <div class="form-group">
                       
                        <label class="control-label col-sm-6 col-xs-6" for="id_home_phone"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Home Phone Number:</label>
                        {{ form.home_phone.errors }}
                        {{ form.home_phone }}
                    </div>
                    
                </fieldset>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                <fieldset class = "step">
                        <legend>Account Information</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-6 col-xs-6" for="id_dob">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date Of Birth (YYYY-MM-DD
                        <font color="Red">*</font>:</label>
                        {{ form.dob.errors }}
                        {{ form.dob }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="ni_number">National Insurance Number<font color="Red">*</font>:</label>
                        {{ form.ni_number.errors }}
                        {{ form.ni_number }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_fa"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Financial Advisor<font color="Red">*</font>:</label>
                        {{ form.fa.errors }}
                        {{ form.fa }}
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_cash"><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span> Cash<font color="Red">*</font>:</label>
                        {{ form.cash.errors }}
                        {{ form.cash }}
                    </div>
                    
                </fieldset>
                </div>
                <div class = "col-md-3 col-sm-3 col-xs-3">
                <fieldset class = "step">
                        <legend>Social Media</legend>
                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_twitter_username">Twitter Username:</label>
                        {{ form.twitter_username.errors }}
                        {{ form.twitter_username }}
                    </div>

                    <div class="form-group">
                        
                        <label class="control-label col-sm-6 col-xs-6" for="id_twitter_widget_id">Twitter Widget Id:</label>
                        {{ form.twitter_widget_id.errors }}
                        {{ form.twitter_widget_id }}
                    </div>
                    <button class="btn btn-success" id="registerButton" type="submit">Submit</button>
                    
                </fieldset>
                </div>
            </form>
        </div>
        <div id="navigation" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">Personal</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="#">Social Media</a>
                        </li>
                    </ul>
                </div>
        <font color="Red">*Required</font>
    </div>
</div>
{% endblock %}
